<% provide(:title,("Home")) %>
<div class="center jumbotron">
  <h2>
    Welcome to dopeshop! <%= link_to image_tag("logo.jpg",size:"52x42" , alt: "Shop logo"), 'http://rubyonrails.org/' %>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
