<div class="center jumbotron">
  <p>
    <h3>Total price:
      <%= number_to_currency(@cart.sub_total) %></h3>
  </p>
  <ul class="users">
    <% @cart.line_items.each do |line_item| %>
      <%= render 'shared/product' , :product => line_item.product %>
      <li>Quantity:
        <%= line_item.quantity %>
        | Total Price:
        <%= number_to_currency(line_item.total_price) %>
        <!-- See lineItem section below for explanation of line_item links -->

        <hr class="style18">
      <% end %>
  </ul>

</div>
