<!-- Search Bar -->
<div class="input-group" id="adv-search">
  <input type="text" class="form-control" placeholder="Search...."/>
  <div class="input-group-btn">
    <div class="btn-group" role="group">
      <div class="dropdown dropdown-lg">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span></button>
        <div class="dropdown-menu dropdown-menu-right" role="menu">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="filter">Filter by</label>
              <select class="form-control">
                <option value="0">Featured</option>
                <option value="1">Most popular</option>
                <option value="2" selected="selected">Top rated</option>
                <option value="3">Most commented</option>
              </select>
            </div>
            <div class="form-group">
              <label for="contain">Top Seller</label>
              <input class="form-control" type="text"/>
            </div>
            <div class="form-group">
              <label for="contain">Contains the words</label>
              <input class="form-control" type="text"/>
            </div>
            <button type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </form>
        </div>
      </div>
      <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </div>
  </div>
</div>

<%= will_paginate @products %>

<ul class="users">
  <%= render @products %>
  <%# @products.each do |product| %>
    <%#= render 'shared/product' , product: product %>
      <%# end %>
      </ul>

      <%= will_paginate @products %>
      <br>

      <!-- Only Admin is allowed to create new products -->
      <% if logged_in? && current_user.admin? %>
        <%= link_to 'New Product', new_product_path %>
      <% end %>
