<div class="center jumbotron">
  <h2>
    <% if params[:search].nil? || params[:search].empty?  %>
      All Orders (<%= @orders.count %>)
    <%else %>
      Found => [
      <%= pluralize(@orders.count, " ] Order") %>
    <%end %>
  </h2>
</div>

<% @orders.each do |order| %>

  <% if @current_user.admin? %>

    <%= render 'order' , :order => order%>

    <% elsif order.user_id == @current_user.id %>

      <%= render 'order' , :order => order%>

    <%end%>
  <% end %>
