<nav class="navbar  navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myFooter">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <!-- On big screens -->
    <div class="collapse navbar-collapse" id="myFooter">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", helf_path %></li>
        <li><%= link_to "Contact", "https://github.com/goxr3plus/Ruby-on-Rails-eCommerce-Website" , target:"_blank" %></li>

      </ul>
    </div>

  </div>
</nav>
</footer>
